<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-sso" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>sso Plugin</name>
    <description>sso for sxykd university</description>
    <author>huatech</author>
    <license>MIT License</license>

    <js-module name="SsoPlugin" src="www/ssoPlugin.js">
        <clobbers target="ISsoPlugin" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SsoPlugin">
                <param name="android-package" value="huatech.plugin.sso.SsoPlugin" />
            </feature>
        </config-file>


        <source-file src="src/android/SsoPlugin.java"
            target-dir="src/huatech/plugin/sso" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.wisedu.idsauthsdk.IdsAuthActivity"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        </config-file>
        <source-file src="src/android/libs/android-async-http-1.4.8.jar" target-dir="libs" />
        <source-file src="src/android/libs/idsauthsdk.jar" target-dir="libs" />

    </platform>

    <platform name="ios">
        <hook type="after_plugin_install" src="../../scripts/ios/ios-config-jpush.js" />

        <config-file target="config.xml" parent="/*">
            <feature name="SsoPlugin">
                <param name="ios-package" value="SsoPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/Plugins/SsoPlugin.h" />
        <source-file src="src/ios/Plugins/SsoPlugin.m" />


        <header-file src="src/ios/Plugins/IDSManager.h" />
        <source-file src="src/ios/Plugins/IDSManager.m" />

        <header-file src="src/ios/Plugins/IDS.h" />
        <header-file src="src/ios/Plugins/IDSService.h" />
        <header-file src="src/ios/Plugins/IDSServiceObj.h" />



        <resource-file src="src/ios/SsoConfig.plist" />
        <source-file src="src/ios/lib/libIDS.a" framework="true" />

        <!--<framework src="UserNotifications.framework" weak="true" />-->


    </platform>
</plugin>
